@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'segoe_uiregular';
  src: url('/fonts/segoe-ui-regular.woff2') format('woff2'),
       url('/fonts/segoe-ui-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'segoe_uiregular', Arial, Helvetica, sans-serif; /* Perbaikan di sini */
}

/* Menonaktifkan scroll di body */
.no-scroll {
  overflow: hidden;
}

/* Slider Styles */
.slider-container {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.slider-container > li {
  flex: 0 0 33.333333%;
}

@media (max-width: 1024px) {
  .slider-container > li {
    flex: 0 0 50%;
  }
}

@media (max-width: 640px) {
  .slider-container > li {
    flex: 0 0 100%;
  }
}